        /* Resetting default browser styles */
        
        body,
        h1,
        nav,
        div,
        p,
        a {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            color: #333;
            /*background-color: #f0f0f0; */
            /* Lighter background for contrast */
            /* make background color blue */
            background-color: #0057B8;
        }
        /* Styling for the sign-up container */
        
        .signup-container {
            max-width: 420px;
            margin: 6rem auto;
            padding: 40px;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        
        .signup-form h3 {
            color: #0057B8;
            text-align: center;
            margin-bottom: 20px;
        }
        
        .form-group {
            margin-bottom: 15px;
        }
        
        .form-group label {
            display: block;
            color: #333;
        }
        
        .form-group input[type="text"],
        .form-group input[type="email"],
        .form-group input[type="password"] {
            width: 95%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            outline: none;
            border-color: #0057B8;
            box-shadow: 0 0 0 2px rgba(0, 87, 184, 0.25);
        }
        
        .form-dec {
            width: 95%;
            outline: none;
            margin-bottom: 15px;
        }
        /* id: level and id:role are not used in the form, please make them bigger */
        /* make the width as big as the input fields */
        
        #level,
        #role {
            width: 95%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            outline: none;
            border-color: #0057B8;
            box-shadow: 0 0 0 2px rgba(0, 87, 184, 0.25);
        }
        
        button {
            display: block;
            width: 95%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #0057B8;
            color: white;
            cursor: pointer;
            font-size: 16px;
            /* center the button */
            margin: 0 auto;
        }
        
        button:hover {
            background-color: #0046a3;
        }
        
        footer {
            background-color: #D52B1E;
            /* Red */
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        /* Styling the Home link as a button */
        
        .additional-links a {
            display: inline-block;
            /* Allows margin and padding to be applied properly */
            padding: 10px;
            /* Matches the padding of the form's submit button */
            border-radius: 5px;
            /* Matches the border-radius of the form's submit button */
            background-color: #D52B1E;
            /* Matches the background color of the form's submit button */
            color: white;
            /* Text color for the link */
            text-decoration: none;
            /* Removes underline from the link */
            font-size: 16px;
            /* Matches the font size of the form's submit button */
        }
        /* Styling the Home link as a button on hover */
        
        .additional-links a:hover {
            background-color: #D52B1E;
            /* Darker shade of blue for hover effect */
        }
        /* Centering the container of the additional links */
        
        .additional-links {
            text-align: center;
            /* Centers the content of the container */
            margin-top: 20px;
            /* Adds some space above the container */
            /* Adjustments for responsive design */
            @media (max-width: 768px) {
                .signup-container {
                    margin: 1rem;
                }
            }
        }