{% extends 'app/base.html' %}

{% block title %}
Exam Solutions
{% endblock %}

{% block content %}
<style>
    .solution-image {
        max-width: 270px; /* Adjust the max-width as needed */
        max-height: 270px; /* Adjust the max-height as needed */
    }
</style>
    {% if user.is_authenticated %}
        {% if user.profile.role == 'student' %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">SmartMentor</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'student_profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'student_courses' %}">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'course_learningpath' %}">Learning path</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/student/quiz">Quizzes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'course_exam'%}">Exams</a>
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post" style="margin: 0">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">Sign out</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <br>
            <div class="container-xl">
                <section>
                    {% if level == 'Beginner' or level == 'Intermediate' or level == 'Advanced' %}
                    <h4>Scores for {{ course.name }}</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Score</th>
                                <th>Solution</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for score in scores %}
                        <tr>
                            <td>{{ score.date }}</td>
                            <td>{{ score.value }}</td>
                            <td><a href="{% url 'exam_results' score.id%}" class="btn btn-warning">View Solution</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    
                    <br>
                    {% if level == 'Beginner' or level == 'Intermediate' or level == 'Advanced' %}
                    <h5>Average Score of last 10 exams: {{ average }}/100</h5>
                    <h5>Student Level: {{ level }}</h5>
                    {% endif %}
                    
                        {% if level == 'Beginner' %}
                            <p> 
                            - You are at the beginner level. Keep practicing to improve your scores!
                            <br>
                            Keep in mind: "Practice makes perfect."
                            </p>
                        {% elif level == 'Intermediate' %}
                            <p>
                            - You are at the intermediate level. Keep practicing to reach the advanced level!
                            <br>
                            Keep in mind: "Success is the sum of small efforts repeated day in and day out."
                            </p>
                        {% elif level == 'Advanced' %}
                            <p>
                            - You are at the advanced level. Congratulations on your achievement!
                            <br>
                            Keep in mind: "Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful."
                            </p>
                        {% else %}
                            <h5>- You have not taken any exams yet. Start taking exams to determine your student level! </h5>
                        {% endif %}
                    <br>    
                    <h5>How it is calculated:</h5>
                    <p>The calculation of the student level is based on the average score of all exams taken by the student. First, we collect all the exam scores and store them in a list. If the list is not empty, we calculate the average by summing up all the scores and dividing by the number of scores. This average is then multiplied by 10 to scale it to a range of 0 to 100. Based on this scaled average, we determine the student level: a scaled average of 0 to 74 corresponds to a 'Beginner' level, 75 to 89 corresponds to an 'Intermediate' level, and 90 to 100 corresponds to an 'Advanced' level. If no exams have been taken, the average is set to 0 and the student level is left empty.</p>

                </section>
            </div>
            <br>

            <div class="container-xl">
            <section>
                <div class="d-flex justify-content-center">
                    {% load static %}
                    <img src="{% static 'images/solution_image.jpg' %}" alt="Solution Image" class="img-fluid solution-image">
                </div>
            </section>
            </div>

            <br>
            <br>
            <br>
        {% endif %}
    {% endif %}
{% endblock %}