{% extends "app/base.html" %}

{% block title %}
Student Quiz
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.profile.role == 'student' %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">SmartMentor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/student/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/student/courses">Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/student/quiz">Quizzes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/student/ai_tutor">Tutor</a>
              </li>
              <li class="nav-item">
                <form action="{% url 'logout' %}" method="post" style="margin: 0">
                  {% csrf_token %}
                  <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">Sign out</button>
              </form>
              
              </li>
          </div>
        </div>
      </nav>

      <br/>

      <div class="container-xl">
        <section>
            <h4>Available Quizzes</h4>
            <p>Welcome, {{ user.profile.fname }} {{ user.profile.lname }}</p>
            <p>Here, you can enroll in different quizzes.</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Quiz Name</th>
                        <th>Description</th>
                        <th>Course</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in all_quizzes %}
                        <tr>
                            <td>{{ quiz.name }}</td>
                            <td>{{ quiz.description }}</td>
                            <td>{{ quiz.course.name }}</td>
                            <td>
                                <form method="post" action="{% url 'enroll_quiz' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
                                    <input type="submit" class="btn btn-warning" value="Enroll">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

    <br>

    <div class="container-xl">
        <section>
            <h4>Enrolled Quizzes</h4>
            <p>Here are the quizzes you have enrolled in:</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Quiz Name</th>
                        <th>Description</th>
                        <th>Course</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in enrolled_quizzes %}
                        <tr>
                            <td>{{ quiz.name }}</td>
                            <td>{{ quiz.description }}</td>
                            <td>{{ quiz.course.name }}</td>
                            <td>
                                <form method="post" action="{% url 'unenroll_quiz' quiz.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning">Unenroll</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <br>

    <div class="container-xl">
      <section>
        <h4>Start Communication</h4>
        <p>Here are the links to participate in the different quizzes:</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Quiz Name</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            {% for quiz in enrolled_quizzes %}
            <tr>
              <td>{{ quiz.name }}</td>
              <td>
                <a href="{% url 'chat_with_quiz' quiz.id %}" target="_blank" class="btn btn-warning">Quiz</a>
            </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  

{% else %}
    <h1>Access Denied</h1>
    <p>You are not authorized to view this page. Please <a href="{% url 'home' %}">go back</a> to home.</p>
{% endif %}
{% else %}
<h1>Access Denied</h1>
<p>You are not authorized to view this page. Please <a href="{% url 'login' %}">log in</a> to view this page.</p>
{% endif %}

{% endblock %}