{% extends "app/base.html" %}

{% block title %}
Courses
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.profile.role == 'student' %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">SmartMentor</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'student_profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'student_courses' %}">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'student_quiz' %}">Quizzes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'student_ai_tutor' %}">Tutor</a>
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post" style="margin: 0">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">Sign out</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <br>

            <div class="container-xl">
                <section>
                    <h4>Available Courses</h4>
                    <p>Welcome, {{ user.profile.fname }} {{ user.profile.lname }}</p>
                    <p>Here, you can enroll in different courses.</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in all_courses %}
                                <tr>
                                    <td>{{ course.name }}</td>
                                    <td>{{ course.description }}</td>
                                    <td>
                                        <form method="post" action="{% url 'enroll_course' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="course_id" value="{{ course.id }}">
                                            <input type="submit" class="btn btn-warning" value="Enroll">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        
            <br>
        
            <div class="container-xl">
                <section>
                    <h4>Enrolled Courses</h4>
                    <p>Here are the courses you have enrolled in:</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in user.profile.student.courses.all %}
                                <tr>
                                    <td>{{ course.name }}</td>
                                    <td>{{ course.description }}</td>
                                    <td>
                                        <form method="post" action="{% url 'unenroll_course' course.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-warning">Unenroll</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
            <br>    <div class="container-xl">
                <section>
                  <h4>Start Communication</h4>
                  <p>Here are the links to participate in the different courses:</p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Course Name</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for course in enrolled_courses %}
                      <tr>
                        <td>{{ course.name }}</td>
                        <td>
                            <a href="{% url 'chat_with_course' course.id %}" target="_blank" class="btn btn-warning">Course</a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </section>
              </div>
            
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

        {% else %}
            <h1>Access Denied</h1>
            <p>You are not authorized to view this page. Please <a href="{% url 'home' %}">go back</a> to home.</p>
        {% endif %}
    {% else %}
        <h1>Access Denied</h1>
        <p>You are not authorized to view this page. Please <a href="{% url 'login' %}">log in</a> to view this page.</p>
    {% endif %}

{% endblock %}
