{% extends "app/base.html" %}

{% block title %}
Teacher Profile
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.profile.role == 'teacher' %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">SmartMentor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher_profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'teacher_pdfs' %}">PDFS</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher_courses' %}">Courses</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher_quiz' %}">Quizzes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher_ai_tutor' %}">Tutor</a>
              </li>
              <li class="nav-item">
                  <form action="{% url 'logout' %}" method="post" style="margin: 0">
                      {% csrf_token %}
                      <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">Sign out</button>
                  </form>
              </li>
          </ul>
      </div>
      </div>
    </nav>

    <br>

    <div class="container-xl">
      <section>
          <h4>Teacher Profile:</h4>
          <p>Username: {{ user.profile.username }}</p>
          <p>Name: {{ user.profile.fname}} {{ user.profile.lname }}</p>
      </section>
  </div>
  <br>
  <div class="container-xl">
    <section>
        <h4>Personal Information:</h4>
        <p>First Name: {{ user.profile.fname }}</p>
        <p>Last Name: {{ user.profile.lname }}</p>
        <p>Email: {{ user.email }}</p>
    
    </section>
</div>

      <br>
      <div class="container-xl">
        <section>
            <h4>Change Password:</h4>
            <form action="{% url 'password_change' %}">
              <a href="{% url 'password_change' %}" class="btn btn-primary">Change</a>
         </form>
        </section>
      </div>
      <br>
      <div class="container-xl">
        <section>
            <h4>Course List:</h4>
            <!-- Check if courses are empty-->
            {% if user.profile.student.courses %}
              {% for course in user.profile.teacher.courses_list.all %}
              <p>Course: {{ course.name }}</p>
              <p>Progress: {{ course.progress }}</p>
              {% endfor %}
            {% else %}
              <p>No courses taken</p>
            {% endif %}
        </section>
    </div>
  <br>
    <div class="container-xl">
      <section>
          <h4>SmartMentor Statistics:</h4>
          <p>Role: {{ user.profile.role }}</p>
          <p>Created: {{ user.profile.date_created }}</p>
          <p>
      </section>
  </div>

</br>
</br>
</br>


    {% else %}
      <h1>Access Denied</h1>
      <p>You are not authorized to view this page. Please <a href="/">back</a> to home.</p>
    {% endif %}
  {% else %}
      <h1>Access Denied</h1>
      <p>You are not authorized to view this page. Please <a href="/signin">login</a> to view this page.</p>
  {% endif %}

{% endblock %}