{% extends "app/base.html" %}

{% block title %}
Teacher Courses
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.profile.role == 'teacher' %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">SmartMentor</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'teacher_profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'teacher_course' %}">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'teacher_quiz' %}">Quizzes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'teacher_ai_tutor' %}">Tutor</a>
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post" style="margin: 0">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">Sign out</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <br>

            <div class="container-xl">
                <section>
                    <h1>Teacher Course Section</h1>
                    <br>
                    <br>
                    <h4>Course List:</h4>
                    <!-- Check if courses are empty-->
                    {% if user.profile.teacher.courses %}
                        {% for course in user.profile.teacher.courses_list.all %}
                        <p>Course: <a href="{% url 'course_detail' course.pk %}">{{ course.name }}</a></p>
                        <p>Progress: {{ course.progress }}</p>
                        {% endfor %}
                    {% else %}
                      <p>No courses taken</p>
                    {% endif %}
                </section>
            </div>
            <br />
            <div class="container-xl">
                <section>
                    <h4>PDF list:</h4>
                    {% if user.teacher %}
                        {% for pdf in user.teacher.pdfs.all %}
                            <form method="post" action="{% url 'delete_pdf' pdf.id %}">
                                {% csrf_token %}
                                <p>PDF: <a href="{{ pdf.file.url }}">{{ pdf.file.name }}</a>
                                <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
                            </form>
                        {% empty %}
                            <p>No PDFs uploaded</p>
                        {% endfor %}
                    {% else %}
                        <p>You must be a teacher to upload a file.</p>
                    {% endif %}
                </section>
            </div>
            <br />
            <div class="container-xl">
                <section>
                    <h4>Upload PDF for creation of a course:</h4>
                    <form method="post" action="{% url 'teacher_course' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="file">Choose a PDF file:</label>
                        <br>
                        <br>
                        <input type="file" id="file" name="file" accept="application/pdf">
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Upload</button>
                    </form>
                </section>
            </div>
            <br />

        {% else %}
            <h1>Access Denied</h1>
            <p>You are not authorized to view this page. Please <a href="/">back</a> to home.</p>
        {% endif %}
    {% endif %}
{% endblock %}