{% extends "app/base.html" %}

{% block title %}
Teacher Quizzes
{% endblock %}

{% block content %}
  {% if user.is_authenticated and user.profile.role == 'teacher' %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">SmartMentor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'teacher_profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'teacher_pdfs' %}">PDFs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'teacher_courses' %}">Courses</a>
            </li>
            <li class="nav-item">
              <form action="{% url 'logout' %}" method="post" style="margin: 0">
                {% csrf_token %}
                <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">Sign out</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br/>
    <div class="container-xl">
      <section>
        <h4>Create a new quiz:</h4>
        <form action="{% url 'quiz_create' %}" method="post">
          {% csrf_token %}
          {{ quiz_form.as_p }}
          <input type="submit" value="Create Quiz">
        </form>
      </section>
      <br/>

      <section>
        <h4>List of Quizzes:</h4>
        {% if object_list %}
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Course</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for quiz in object_list %}
                <tr>
                  <td>{{ quiz.name }}</td>
                  <td>{{ quiz.description }}</td>
                  <td>{{ quiz.course.name }}</td>
                  <td>
                    <form action="{% url 'quiz_delete' quiz.id %}" method="post">
                      {% csrf_token %}
                      <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>No quizzes found.</p>
        {% endif %}
      </section>
    </div>
    </div>

  {% else %}
    <h1>Access Denied</h1>
    <p>You are not authorized to view this page. Please <a href="{% url 'login' %}">log in</a> or <a href="/">go back</a> to home.</p>
  {% endif %}
{% endblock %}
