{% extends "app/base.html" %}

{% block title %}
Teacher Courses
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.profile.role == 'teacher' %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">SmartMentor</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'teacher_profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'teacher_pdfs' %}">PDFS</a>
                            </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="{% url 'teacher_courses' %}">Courses</a>
                              </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'teacher_quiz' %}">Quizzes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'teacher_ai_tutor' %}">Tutor</a>
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post" style="margin: 0">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">Sign out</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <br />
            <div class="container-xl">
                <section>
                    <h4>Upload PDF for creation of a course:</h4>
                    <form method="post" action="{% url 'teacher_pdfs' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="file">Choose a PDF file:</label>
                        <br>
                        <br>
                        <input type="file" id="file" name="file" accept="application/pdf">
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Upload</button>
                    </form>
                </section>
            </div>
            <br />
            <div class="container-xl">
                <section>
                    <h4>PDF List:</h4>
                    {% if user.profile.teacher.pdfs.all %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pdf in user.profile.teacher.pdfs.all %}
                                    <tr>
                                        <td>{{ pdf.file.name }}</td>
                                        <td>
                                            <form method="post" action="{% url 'delete_pdf' pdf.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No PDFs uploaded yet!</p>
                    {% endif %}
                </section>
            </div>


        {% else %}
            <h1>Access Denied</h1>
            <p>You are not authorized to view this page. Please <a href="/">back</a> to home.</p>
        {% endif %}
    {% endif %}
{% endblock %}